.email-preview>* {
  margin: 0;
  font-size: 1rem;
}

.email-preview {
  height: var(--el-height);
  border-bottom: 1px solid;
  /* background-color: lightgrey; */
  border: 1px solid var(--clr-secondary);

  display: flex;
  align-items: center;
  justify-content: baseline;
}

.email-preview:hover {
  box-shadow: 0px 0px 3px 2px var(--clr-secondary);
}

.email-preview.unread {
  /* color: blue; */
  font-family: Ubuntu-medium;
  font-weight: 500;
}

.text {
  text-align: start;
  max-width: 100ch;
}

.edit-flex {
  color: blue;
  justify-content: end;

}


.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  flex-shrink: 0;
}

.item1,
.item2,
.item5,
.item6 {
  flex-basis: 40px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.item3 {
  flex-basis: 180px;
  padding-inline-start: 1em;
}

.item7 {
  flex-basis: 140px;
  padding-inline-start: 1em;
}

.item4 {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 2;
  overflow: hidden;
}

/* icons*/



/* 
.fa-solid::before{
  font-family: fa-solid;
}

.fa-solid.item2::before{
  content:"\f005";
  color: #f3c749;
} */