/* classes for  aside header list that are same for both apps*/

/* root container */
.app-container {
    min-height: calc(100vh - var(--header-height));
    display: flex;

    background-color: var(--clr-primary);
}

.app-aside {
    width: 400px;
    background-color: var(--clr-secondary);
}

.app-main {
    display: flex;
    flex-direction: column;
}

.search {
    background-color: var(--clr-secondary);
}



/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width: 600px) {}

/* tablet  */
@media (min-width: 768px) {}

/* laptop  */
@media (min-width: 992px) {}


/* monitor  */
@media (min-width: 1200px) {}