/* classes for  aside header list that are same for both apps*/

/* root container */
.app-container {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    background-color: var(--clr-primary);
}

.app-aside {
    width: 300px;
    min-width: 250px;
    padding: var(--main-padding);
    border-inline-end: 1px solid var(--clr-secondary);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search {
    width: 100%;
    padding: var(--main-padding);
}


/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width: 600px) {}

/* tablet  */
@media (min-width: 600px) {}

/* laptop  */
@media (min-width: 768px) {}

/* monitor  */
@media (min-width: 1200px) {}