/* ========== BUTTON STYLES ==========  */
/* button collection  */
.btn-hero {
    border-width: 0.2em;
    border-style: solid;
    border-radius: 2em;

    padding: 1em 2em;

    text-align: center;
    font-size: clamp(.8rem, 0.67vw + 0.60rem, 1.1rem);
    font-weight: 600;
}

.btn {
    border-width: 0.15em;
    border-style: solid;
    border-radius: .2em;

    padding: .5em 1em;

    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/* different styles for buttons  */
.btn-style1 {
    background-color: var(--clr-secondary);
    border-color: var(--clr-accent);
    color: var(--clr-accent);
}

.btn-style2 {
    background-color: var(--clr-accent);
    border-color: var(--clr-accent);
    color: var(--clr-primary);
}

.btn-style3 {
    background-color: transparent;
    border-color: var(--clr-accent);
    color: var(--clr-accent);
}

/* aside buttons  */
.btn-aside {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: var(--el-height);

    margin-bottom: 0.3em;
    width: 100%;
    padding: 0 1em;
    text-align: start;
}

.btn-aside:hover {
    font-weight: 400;
    background-color: var(--clr-secondary);
}

.btn-icon {
    font-size: calc(var(--el-height) - 0.5rem);
}

/* button:hover{} */

/* =============== INPUT  ===============  */
input {
    position: relative;
    width: 30rem;
    padding: .5em 1em;

    background-color: var(--clr-input);
    border-color: var(--clr-accent);
    border-width: 0.15em;
    border-style: solid;
    border-radius: .2em;
    box-shadow: 0px 0px 2px 1px var(--clr-accent);

    font-size: 1rem;
    font-weight: 400;
}

/* ============= TOOLTIPS =============  */