/* typography */

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



@font-face {
    font-family: Ubuntu;
    src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Dosis;
    src: url(../../fonts/Dosis/Dosis-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato/Lato-Regular.ttf);
}

/* ICONS */

@font-face {
    font-family: fa-regular;
    src: url(../../fonts/fa-icons/fa-regular-400.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(../../fonts/fa-icons/fa-solid-900.ttf);
}
@font-face {
    font-family: fa-brands;
    src: url(../../fonts/fa-icons/fa-brands-400.ttf);
}



html {
    font-family: Ubuntu;
}

p {
    /* font-family: Ubuntu, sans-serif; */
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Dosis;
    font-weight: 600;
    line-height: 2;
}

.btn {
    font-weight: 400;
}

.btn:hover {
    font-weight: 500;
}