:root {
    /* color pallets */
    --clr-primary: hsl(200, 100%, 98%);
    --clr-secondary: hsl(107, 23%, 84%);
    --clr-accent: hsl(23, 68%, 62%);
    --clr-accent-hover: hsl(14, 63%, 55%);


    /* vars  */
    --header-height: 3rem;
    --main-padding: 1rem
        /*fdfdsf*/
}