:root {
    /* color pallets */
    --clr-primary: hsl(201, 29%, 77%);
    --clr-secondary: hsl(109, 40%, 84%);
    --clr-accent: hsl(23, 68%, 62%);
    --clr-accent-hover: hsl(14, 63%, 55%);


    /* vars  */
    --header-height: 3rem;
    --main-padding: 1rem
        /*fdfdsf*/
}