header {
    display: flex;
    justify-content: space-between;

    height: var(--header-height);
    padding: 0 var(--main-padding);

    border-bottom: 2px solid white;
    background: var(--clr-secondary);
}


nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}